<div class="page">

  <h2 class="title">Credit Card</h2>

  <!-- SEARCH -->
  <div class="search-box">
    <input type="text"
           placeholder="Search credit card..."
           [(ngModel)]="searchText"
           (input)="onSearch()">
  </div>

  <!-- GRID -->
  <div class="grid">
    <div class="card"
         *ngFor="let b of filteredBillers"
         (click)="openPopup(b)">

      <img [src]="b.iconUrl">
      <span>{{b.billerName}}</span>

    </div>
  </div>

</div>


<!-- MODAL -->
<div class="modal" *ngIf="selectedBiller">

  <div class="modal-box">

    <!-- HEADER -->
    <div class="modal-header">
      <h3>Credit Card Bill</h3>
      <span (click)="closePopup()">✖</span>
    </div>

    <!-- BANK -->
    <div class="bank-section">
      <img [src]="selectedBiller.iconUrl">
      <p>{{selectedBiller.billerName}}</p>
    </div>

    <!-- FORM -->
    <div class="form">

      <div class="input-group">
        <label>Last 4 digits</label>
        <input [(ngModel)]="model.last4" maxlength="4">
      </div>

      <div class="input-group">
        <label>Card Holder Mobile</label>
        <input [(ngModel)]="model.cardMobile">
      </div>

      <div class="input-group">
        <label>Customer Mobile</label>
        <input [value]="userPhone" readonly>
      </div>

    </div>

    <!-- FETCH -->
    <button class="btn primary"
            [disabled]="!model.last4 || !model.cardMobile || isLoading"
            *ngIf="!billDetails"
            (click)="fetchBill()">

      {{isLoading ? 'Fetching...' : 'Fetch Bill'}}

    </button>

    <!-- AFTER FETCH -->
    <div *ngIf="billDetails" class="after-fetch">

      <div class="input-group">
        <label>Amount</label>
        <input [(ngModel)]="model.amount" class="amount-input">
      </div>

      <div class="bill-box">
        <h4>Bill Details</h4>
        <p><b>Due:</b> ₹ {{billDetails.totalAmount}}</p>
        <p><b>Date:</b> {{billDetails.dueDate}}</p>
        <p><b>Name:</b> {{billDetails.consumerName}}</p>
      </div>

      <!-- PAYMENT BUTTON -->
      <button class="btn success sticky-btn"
              [disabled]="isLoading"
              (click)="processPayment()">

        {{isLoading ? 'Processing...' : 'Pay ₹ ' + model.amount}}

      </button>

    </div>

  </div>

</div>


<!-- SUCCESS SCREEN -->
<div class="success-screen" *ngIf="showSuccessScreen">

  <div class="success-box">
    <div class="tick">✔</div>
    <h2>Payment Successful</h2>
    <p>₹ {{model.amount}} paid successfully</p>
    <p class="small">Redirecting...</p>
  </div>

</div>
