body {
  font-family: 'Segoe UI', sans-serif;
}

/* PAGE */
.page {
  padding: 20px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

/* SEARCH */
.search-box input {
  width: 100%;
  max-width: 350px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
}

/* GRID */
.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: #f8fafc;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50px;
  height: 50px;
}

.card span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

/* MODAL */
.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

/* BOX */
.modal-box {
  width: 95%;
  max-width: 420px;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

/* HEADER */
.modal-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.modal-header span {
  cursor:pointer;
  font-size:18px;
}

/* BANK */
.bank-section {
  text-align:center;
  margin: 15px 0;
}

.bank-section img {
  width:60px;
}

.bank-section p {
  font-weight:600;
}

/* FORM */
.input-group {
  margin-bottom:14px;
}

.input-group label {
  font-size:13px;
  color:#555;
  display:block;
  margin-bottom:5px;
}

.input-group input {
  width:100%;
  padding:14px;
  border-radius:12px;
  border:1px solid #ddd;
}

/* AMOUNT */
.amount-input {
  font-size:18px;
  font-weight:600;
}

/* BUTTON */
.btn {
  width:100%;
  padding:14px;
  border-radius:12px;
  border:none;
  margin-top:12px;
  font-weight:600;
}

.primary {
  background: linear-gradient(135deg,#0f2d4d,#1e40af);
  color:white;
}

.success {
  background: linear-gradient(135deg,#16a34a,#22c55e);
  color:white;
}

/* BILL BOX */
.bill-box {
  background:#f1f5f9;
  padding:15px;
  border-radius:12px;
  margin-top:10px;
}

/* STICKY BUTTON */
.sticky-btn {
  position: sticky;
  bottom: 0;
}

/* SUCCESS */
.success-screen {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
}

.success-box {
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
}

.tick {
  font-size:50px;
  color:#22c55e;
}

.small {
  color:gray;
}
