<div class="card">

  <h2>Reset Password</h2>

  <!-- STEP 1 -->
  <div *ngIf="step === 1">
    <input [(ngModel)]="userId" placeholder="Enter Phone / Email" />
    <button (click)="sendOtp()">Send OTP</button>
  </div>

  <!-- STEP 2 -->
  <div *ngIf="step === 2">
    <input [(ngModel)]="otp" placeholder="Enter OTP" />
    <button (click)="verifyOtp()">Verify OTP</button>
  </div>

  <!-- STEP 3 -->
  <div *ngIf="step === 3">
    <input [(ngModel)]="newPassword" placeholder="New Password" />
    <button (click)="resetPassword()">Update Password</button>
  </div>

  <!-- STEP 4 -->
  <div *ngIf="step === 4">
    <h3>Password Updated ✅</h3>
    <a routerLink="/login">Go to Login</a>
  </div>

</div>
