<footer class="fintech-footer">
  <div class="container footer-top">
    
    <!-- Brand + About -->
    <div class="footer-brand">
      <div class="brand-row">
        <div class="logo-box">F</div>
        <div>
          <h3>Finocrat</h3>
          <span>Solutions Pvt Ltd</span>
        </div>
      </div>

      <p class="brand-desc">
        Finocrat is a trusted BBPS-enabled utility bill payments platform
        delivering secure, fast, and RBI-compliant payment solutions across India.
      </p>

      <!-- <h4 class="newsletter-title">Stay Updated</h4>
      <div class="newsletter">
        <input type="email" placeholder="Enter your email" />
        <button>→</button>
      </div> -->
    </div>

    <!-- Policies -->
    <div class="footer-links">
      <h4>Policies</h4>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Refund Policy</a>
    </div>

    <!-- Contact -->
    <div class="footer-contact">
      <h4>Contact Info</h4>

      <p>📞 +91 7702205291</p>
      <p>✉️ operations@thefinocrat.com</p>

      <p class="address">
        📍 premises bearing No H.No. 7-1-414/B,Mankammathtoa,<br />
        Opp Shivani Degree College, Karimnagar,,<br />
        Karimnagar, Telangana – 505001
      </p>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2026 Finocrat Solutions Private Limited. All rights reserved.</p>
    <span>Made in ❤️ India</span>
  </div>
</footer>
