:host {
  display: block;
}
.app-container {
  transition: filter 0.3s ease;
  min-height: 100vh;
}

.app-blur {
  filter: blur(5px);
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}