<div class="kyc-container">

  <div class="kyc-card">

    <h2>KYC Verification</h2>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">
      <input [(ngModel)]="aadhaar" placeholder="Enter Aadhaar">
      <button (click)="sendOtp()">Send OTP</button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2">
      <input [(ngModel)]="otp" placeholder="Enter OTP">
      <button (click)="verifyOtp()">Verify OTP</button>
    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3">

      <input [(ngModel)]="pan" placeholder="Enter PAN">
      <button (click)="verifyPan()">Verify PAN</button>

      <label>Aadhaar Front</label>
      <input type="file" (change)="onFileChange($event,'front')">

      <label>Aadhaar Back</label>
      <input type="file" (change)="onFileChange($event,'back')">

      <label>PAN Card</label>
      <input type="file" (change)="onFileChange($event,'pan')">

      <button (click)="submitKyc()">Submit</button>
    </div>

    <!-- SUCCESS -->
    <div *ngIf="step === 4">
      <h3>✅ KYC Submitted</h3>
    </div>

  </div>

</div>
